{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Restau_id</th>
                <td>{{ menu.restauId }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>    {% if menu.image %}
        <img src="{{ asset('/uploads/'~ menu.image) }}" alt="Menu Image" style="width: 300px; height: 200px; display: inline-block;">
    {% else %}
        <p>No image available</p>
    {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_menu_index') }}">back to list</a>

    <a href="{{ path('app_menu_edit', {'id': menu.id}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
