{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Menu</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_menu_index') }}"> 
                    View All Menus
                </a>
                                <a class="btn btn-outline-info float-right" href="{{ path('app_menu_index') }}">back to list
                </a>
                                <a class="btn btn-outline-info float-right" href="{{ path('app_menu_edit', {'id': menu.id}) }}">edit
                </a>
                    <div class="card-header"> {{ include('menu/_delete_form.html.twig') }} </div>
            </div>
            <div class="card-body">
                <b class="text-muted">ID:</b>
                <p>{{ menu.id }}</p>
                <b class="text-muted">Restau ID </b>
                <p>{{ menu.restauId }}</p>
                <b class="text-muted">Image:</b>
                <p><img src="{{ asset('/uploads/'~ menu.image) }}" alt="Menu Image" style="width: 300px; height: 200px; display: inline-block;"></p>

            </div>
        </div>
    </div>

{% endblock %}
